body{
    margin-left: 500px;
    margin-top: 100px;
    width: 280px;
    padding: 12px;
    border-radius: 12px;
    background: linear-gradient(90deg,  rgba(243,250,226,1) 0%, rgba(0,212,255,0.938813025210084) 100%);
}
.card{
    border: none;
    padding: 20px;
    box-shadow: inset 2px 3px 4px 5px rgb(70, 67, 67);
    border-radius: 12px;
}

.input{
    padding: 20px;
    width: 140px;
}
td{
    padding: 5px;
} 

input{
    border: none;
    padding: 20px;
    box-shadow: inset 2px 3px 4px 5px rgb(70, 67, 67);
    border-radius: 12px;
}
input:active{
    
    box-shadow: inset 2px 3px 4px 5px rgb(212, 207, 207) ;
}
.display{
    display:flex;
    gap: 3px;
}

